/*icons*/
.menuToggle {
  display: none;
}
.bars-icon {
  display: none;
}
/*logo imagem*/
.logo {
  width: 100%;
  max-width: 100px;
}   

.logo-area,.footer_logo{
  text-align: center;
  margin-bottom: 5px;
}


/*carousel*/
.imagem_style{
  margin-top: 20px;
  width: 100%;
  height: 500px;

}

body{
  background-color:whitesmoke;
}

.carousel-item{
  margin-bottom: 50px;
}

.card{
  margin-bottom: 20px;
}

.iframe_funny{
  width: 100%;
  height: 200px;
}

.modal-body > img {
  width: 100%;
}

.card-img-top{
  width: 100%;
  height: 100px;
}

a{
  color:black;
}
.a_carousel_main{
  color: white;
}


.carousel-indicators > li {
  background-color: black;
}

/*button search*/

#search_buton{
  color: black;
  background-color: none;
  border-color: rgb(80, 79, 79);
  height: 30px;
}

#search_buton:active{
  background-color: white;
}

#search_buton:hover{
  background-color: white;
}

#search_buton:focus{
  box-shadow: 0 0 0 0.2rem rgba(226, 225, 225, 0.836);
}

/*titles*/
.title{
  margin: 20px 0;
  font-family: 'Times New Roman', Times, serif;
}


.card-img-top1{
  margin-left: 10px;
  margin-top: 10px;
  width: 100%;
  max-width: 200px;
  height: 100px;
}

.card_image > .card{
  margin-top: 20px;
}
.card-img{
  width: 100%;
  height: 240px;
}

.home-icon >i{
  font-size: 20px;
}

.form-control{
  height: 30px;
  margin-left: 25px;
}

.menu_header{
  align-content: center;
}
.bars-icon > i{
  font-size: 20px;

}

.menu_area{
  margin-top: 10px;
}

.card-img-top2{
  width: 100%;
  height: 150px;
}

.footer_area > p{
  margin-top: 30px;
}

.footer{
  width: 100%;
  padding: 50px 5% 15px;
  margin-top: 20px;
  background-color:white;
}

p{
  text-align: justify;
}
.a_carousel_main > p{
  text-align: center;
}

.footer_links{
  text-align: center;
}

.midia_icons_photo{
  width: 100%;
  max-width: 60px;
  height: 40px;
}

.direitos_autorais{
  margin-top: 20px;
  color: rgb(199, 194, 194);
}

.footer-icon{
  width: 50px;
  font-size: 24px;
}

.footer_image{
  max-width: 200px;
  margin-bottom: 20px;
}

.donation{
  margin-top: 20px;
}

.search_area
a:hover{
  color: rgb(190, 185, 185);
}

.menu_nav{
  display:flex;
  justify-content: flex-end;
}

.menu_mobile {
  display: none;
}

@media screen and (max-width:768px){

  .menu_header> nav >a{
    display: none;
  }

  .menu_nav{
    display:flex;
    justify-content: space-between;
  }
  .search_area{
    display:flex;
    justify-content: space-between;
    flex-flow: row;
  }
  #search_buton{
    margin-left: 10px;
  }
  /*MENU MOBILE*/
  .menu_mobile {
    display: none;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.1) 4px 0px 6px 1px;
    height: 100%;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 190px;
    z-index: 1000000140;
    background: rgb(255, 255, 255);
    border-radius: 3px;
    border-right: 1px solid rgb(204, 204, 204);
    padding: 16px 32px;
  }
  .list_mobile {
    list-style-type: none;
    margin-top: 20px;
    padding: 0px;
  }
  .home-icon > i {
    color: rgb(233, 229, 229);
  }
  .bars-icon {
    height: inherit;
    display: block;
    z-index: 1000000141;
  }
  #menuToggle:checked ~ label i:nth-child(2) {
    display: block;
  }
  #menuToggle:checked ~ label i:first-child {
    display: none;
  }
  #menuToggle:not(:checked) ~ label i:first-child {
    display: block;
  }
  #menuToggle:not(:checked) ~ label i:nth-child(2) {
    display: none;
  }

  #menuToggle:checked ~ div{
    display: flex;
  }  
}

@media screen and (max-width:480px){
  .menu_area2{
    padding: 10px 40px;
  }
}





  
